.button {
	width: calc((1vw + 1vh) * 10);
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	width: 200px;
	height: 40px;
	background: linear-gradient(180deg, #303c51 0%, #2d2027 26.04%, #2d2027 100%);
	border-radius: 2.5rem;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.2s ease;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	box-shadow: 0px 0px 2px #0edecf;
	text-align: center;
	text-decoration: none;
	color: #f3c365;
}

.button:hover {
	transform: scale(1.02);
	box-shadow: -2px -2px 4px #0edecf, 2px 2px 2px #0edecf;
}
@media screen and (max-width: 768px) {
	.button {
		font-size: 14px;
		line-height: 21px;
	}
}
