@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700;8..144,800&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
::root {
	--index: calc(1vw + 1vh);
	--transition: 1.25s cubic-bezier(0.2, 0.6, 0, 1);
}

html::-webkit-scrollbar {
	display: none;
}
body {
	margin: 0;
	font-family: 'Roboto Flex', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 320px) {
}
