.homePage {
	background: linear-gradient(180deg, #f5ad6f 0%, #e539ab 50%, #7613ee 100%);
	position: relative;
	min-height: calc(100vh - 48px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px;
	@media (min-width: 1440px) {
		min-height: 100vh;
	}
	@media (min-height: 1440px) {
		min-height: 100vh;
	}
	&__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: 100%;
	}
	&__wrapper-a {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;
	}
	&__wrapper-b {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
}
@media (max-width: 756px) {
	.homePage {
		padding: 15px;
		min-height: 100vh;
		&__wrapper {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			height: 100%;
		}
		&__wrapper-a {
			order: 2;
		}
		&__wrapper-b {
			order: 1;
		}
	}
}
